.card{
    width: 280px;
    height: 346px;
    display: flex;
    flex-direction: column;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
}

.imgContainer{
    background-color: #F5F5F5;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 150px;
    width: 150px;
}

.infoCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addButton{
    width: 106px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: #27AE60;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
}

.productName{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin: 10px 10px;
}

.productCategory{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
    margin: 10px 10px;
}

.productPrice{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #27AE60;
    margin: 10px 10px;
}
