.list{
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-grow: 1;
}

@media(min-width: 769px){
    .list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .list::-webkit-scrollbar {
        width: 3px;               /* width of the entire scrollbar */
    }
      
    .list::-webkit-scrollbar-track {
        background: #ffffff;
    }
      
    .list::-webkit-scrollbar-thumb {
        background-color: #bdbdbd;
        border-radius: 3px;
    }
}