.App {
  text-align: center;
}

.App-header {
  background-color: #F5F5F5;
  height: 137px;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.logo{
  margin-bottom: 10px;
}

.searchBox{
  width: 92%;
  height: 60px;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 16px;
  color: #979696;
  padding-left: 10px;
}

.searchBox::placeholder{
  color: #bdbdbd;
}

.App-main{
  min-height: 80vh;
  min-width: 98vw;
  padding-top: 152px;
}

.divCart{
  min-height: 225px;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

@media(min-width: 426px){
  .searchBox{
    max-width: 500px;
  }
  
}

@media(min-width: 769px){
  .App-header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .logo{
    margin-left: 35px;
    margin-bottom: 0px;
  }
  .searchBox{
    width: 365px;
    margin: 0px 35px 0px 0px;
  }
  .App-main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 95px;
  }
  .divCart{
    min-width: 380px;
  }
}